{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h3>Nhập thu nhập tháng</h3>

        <form method="POST">

            <div class="mb-3">

                <label class="form-label">
                    Thu nhập hàng tháng
                </label>

                <div class="mb-3">
    <label>Thu nhập hàng tháng</label>
    <input type="number" name="income" class="form-control" required>
</div>                       

<div class="mb-3">
    <label>Hạn mức chi tiêu</label>
    <input type="number" name="budget" class="form-control" required>
</div>

            </div>

            <button class="btn btn-primary">
                Lưu
            </button>

        </form>

    </div>

</div>

{% endblock %}